@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 0.1px solid lightgray;
    padding-bottom: 10px;
    z-index: 999;
    background-color: rgb(225, 221, 221);
    /* background-color: aqua; */
}
.header__left{
    display: flex;
    margin-top: 10px;
    
}

.header__left img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px; 
}
.header__search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: rgb(23, 18, 18);
    background : #bedab7;
    width: 100%;
}
.header__search>input{
    outline: none;
    border: none;
    background: none;
    color: black;
}
.header__right{
    display: flex;
    
    /* background-color: aqua; */
}
.logoHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 800;
    font-family: "Protest Revolution", sans-serif;
}