.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    padding-top: 10px;
    /* background-color: aquamarine; */
}
.headerOption:hover{
    color: black;

}
.headerOption__title{
    font-size: 12px;
    font-weight: 400;
}
.headerOption__icon{
    object-fit: contain;
    height: 30px !important;
    width: 30px !important;
}
